{% extends 'homepage/base.html' %}
{% block script1 %}
    <script language="javascript" type="text/javascript">
        $(document).ready(function(){
            $("#allapp").slideToggle("fast");


        });

    </script>
{% endblock %}
{% block header %}
    <div id="more"></div>
    <div id="allapp"></div>
    <div class="nv">
        <div class="navb">
            <a href="/homepage/index/"> <div class="logo" >东方旭智能开关柜监测系统</div></a>
            <div class="introcont">
                <a href="/homepage/introduce/" target="_blank">平台简介</a>&nbsp&nbsp&nbsp&nbsp
                <a href="/homepage/contact/" target="_blank">联系我们</a>&nbsp&nbsp&nbsp&nbsp
                <a rel="lightbox" href="/site_static/cvoltage_static/images/help2.jpg">帮助</a>
            </div>
            <div class="login">
                {% if user.username %}
                    <p>欢迎：<a href="/homepage/userpage/" title="点击进入个人中心">{{ user.username }}</a> &nbsp;&nbsp;<a href="/homepage/logout/">注销</a></p>
                {% else %}
                    <a id="lgbutton" onClick="document.getElementById('lgbody').style.display='block'">登录</a> &nbsp; | &nbsp;
                    <a href="/homepage/register/">注册</a> &nbsp; &nbsp; &nbsp; &nbsp;
                    <!--
                    <a href="http://aiotWeb.iot-m.cn:8222" target="_blank" title="平台业务系统登录">专业用户登录</a>
                    -->
                    <div id="lgbody">
                        <form action="/homepage/login/" method="post">
                            <input class="logininput name" type="text"  id="username" name="username" value="请输入用户名" onFocus="if(value=='请输入用户名')value='';" onBlur="if(value=='')value='请输入用户名';" />
                            <input class="logininput password" type="password"  id="password" name="password"  value="请输入密码" onFocus="if(value=='请输入密码')value='';" onBlur="if(value=='')value='请输入密码';" />
                            <a id="forget" href="">忘记密码？</a>
                            <input id="cancelbutton" type="button" value="" onClick="document.getElementById('lgbody').style.display='none'" />
                            <input id="loginbutton" type="submit" value="" onClick="" />
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="manage"><a href="/admin/" target="_blank"><input type="button" class="houtai" style="width:100px;" value="后台管理" ></a></div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <p>Copyright © 2014 POWER BY <a href="http://www.ahdonfun.com/" target="_blank">安徽东方旭电气设备有限公司</a></p>
    </div>
{% endblock %}
